!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
	%body
		%h1
		%p
			Dear
			= @user + ","
		%p
			Thanks for requesting TeamZoom!
		%p
			We are working on your request now. We will responce you soon.
		%p 
			Sincerely,
			%br/
			TeamZoom Team