!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
	%body
		%h1
		%p
			Dear
			= @name + ","
		%p
			Thank you for requesting TeamZoom at
			= @school + "!"
		%p
			We are working diligently on your request. Please keep an eye out for an email from us with details very soon! We appreciate your patience.
		%p 
			Sincerely,
			%br/
			TeamZoom 



