!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
	%body
		%h1
			Proposal to add new school
		%p
			State:
			= @school.state + ","
		%p
			school:
			= @school.school + "!"
		
			


