!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
    %p
      Dear
      = @name + ","
    %p
      Thank you for updating your profile!
    %p
      To begin watching your team's games, just follow this
      = link_to "link", @url
      = "."
    %p
      Sincerely,
      %br/
      TeamZoom.

