// Place all the styles related to the schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


img.schedule_logo_team{
  height:30px;
  width: 30px;
}

.select_team_schedule{
  margin-top: 5px;
}