$("#conference_wrapper").html("#{j(render('shared/admin/conferences/form', :decide => true,:@conference => @conference, :conference_url => admin_conference_path(@conference), :method => :put))}")
$("#conference_popup").modal('show')
