$("#conference_wrapper").html("#{j(render('shared/admin/conferences/form', :decide => true,:conference => @conference, :conference_url => admin_conferences_path, :method => :post))}");
$("#conference_popup").modal('show');
