//######################################################################
//# Change History
//######################################################################
//# Date-02/04/2013
//# Coder- Shrikant Khandare
//# Description:  Moved partial "form" from view folder To 
//#              'shared/admin/conferences/form'
//#               Changed render path to 'shared/admin/conferences/form'
//######################################################################  
%h1 New sport

= render 'shared/admin/conferences/form'

= link_to 'Back', sports_path
