- if @conference.errors.any?
  - errors = "";
  - @conference.errors.full_messages.each do |error|
    - errors = errors+"<li>#{error}</li>"

  $(".conference_errors_at_update").html("<div class = 'alert alert-error'><ul>#{raw(errors)}</ul></div>");
- else
  $("#conference_popup").modal('hide');
  location.reload();
