.footer
  .row
    .span5
      © 2012 TeamZoom - #{mail_to "support@teamzoom.com", "Customer Support", :class => "customer"}
    .span4
      %ul.nav.nav-list
        %li
          %li.span= link_to "Terms of Use", "#modalTerm", "data-toggle" => "modal"
        %li
          %li.span= link_to "Privacy Policy", "#modalTerm", "data-toggle" => "modal"
        / 
        / 
#modalTerm.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} X
    %h3#myModalLabel Terms of Service
  .modal-body
    = render(:partial => 'shared/term_use')
  .modal-footer
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close