.row
  .span-step{:style => "text-align: center;"} Create an account
  .span-step{:style => "text-align: center;"} Billing Details
  .span-step{:style => "text-align: center;"} Terms of Use
  .span-step{:style => "text-align: center;"} Confirmation