= link_to "popup_demo" ,"#" , :class => "popup_button"
#popup_demo
  #wrap-popup
    #popup-title
      = "Demo"
    #popup-content
      = "content"
    %input{:type => "button" , :value => "action" , :class => "button_demo"  } 


