.row.show-grid
  .span12
    .front-heading
      An Innovative Fundraising Program for the Internet Era
    .front-subheading
      Simple to administer.  A product people want.
%br
#accordion2.accordion
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseOne"}
        .like-normal-text
          What is the problem?
          =image_tag("down_arrow.gif")
    #collapseOne.accordion-body.collapse
      .accordion-inner
        .span12
          .front-heading
            What is the problem?
          .row.front-banner
            .span5  
              .enter1
                %h1
                  Expenses are Rising
                .span12
                  %ul
                    %li
                      Transportation costs (fuel, labor)
                    %li
                      Coaching costs (benefits, labor)
                    %li
                      Equipment Costs (more sports, better safety)
                    %li
                      Administrative Costs (more participants)
            .span5
              .enter1
                %h1
                  Revenues are Falling
                .span12 
                  %ul
                    %li
                      State and local budget cuts
                    %li
                      Decreased philanthropy due to economy
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseTwo"}
        .like-normal-text
          What are the current fundraising strategies?
          =image_tag("down_arrow.gif")
    #collapseTwo.accordion-body.collapse
      .accordion-inner
        .span12
          .front-heading
            What are the current fundraising strategies?
          .comment
            Athletic directors are currently employing multiple strategies to offset budget deficits.
          .row.front-banner
            .span10 
              .enter2.span4.offset1
                %h1
                  Pay to play
                %ul
                  %li
                    Students are charged fees to participate in athletics              
              .enter2.span4
                %h1
                  Traditional fundraisers
                %ul
                  %li
                    Car wash, bake sale, magazine sales, etc.
              .enter2.span4.offset1
                %h1
                  Philanthropy
                %ul
                  %li
                    Booster clubs, individual donations
              .enter2.span4
                %h1
                  Event promotion
                %ul
                  %li
                    Emails, calendars, posters to drive game attendance
              .enter2.center  
                %h1
                  Merchandising
                %ul
                  %li
                    Hats, t-shirts, bumper stickers
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseThree"}
        .like-normal-text
          How does TeamZoom help?
          =image_tag("down_arrow.gif")
    #collapseThree.accordion-body.collapse
      .accordion-inner
        .span12
          .front-heading
            How does TeamZoom help?
          .comment
            A low-cost system for broadcasting and monetizing all major school sports online.
          .row.front-banner
            .span10 
              .enter1.span4
                %h1
                  Expand the paying fan base
                %ul
                  %li
                    Absentee fans, working parents, non-local alumni
                  %li
                    Monetize away games when an entire conference signs on with TeamZoom
              
              .enter1.span4
                %h1
                  Monetize scouting video
                %ul
                  %li
                    College scouting directors are starving for high school film
              .enter1.span4
                %h1
                  Deeper fan engagement increases philanthropic giving
                %ul
                  %li
                    Out of sight, out of mind
              .enter1.span4
                %h1
                  Fundraise with a product that people want
                %ul
                  %li
                    Better sell-through rates than candy bars and magazines