


  .table {
    thead tr.bg {
      background-color: #ccc;
      th.wid-action {
        width: 50px;
      }
    }
    tbody {
      tr.bg-1 {
        background-color: #e5e5e5 !important;
      }
      
    }
  }

