//######################################################################
//# Change History
//###################################################################### 
//# Date-02/04/2013
//# Coder- Shrikant Khandare
//# Description:  Moved partial "total_raise" from view folder To
//#              "shared/admin/transactions/total_raise"
//#               Changed render path to "shared/admin/transactions/total_raise"
//#               Moved partial "left_menu" from view folder To
//#              "shared/admin/transactions/left_menu"
//#               Changed render path to "shared/admin/transactions/left_menu"
//#               Moved partial "mail_report" from view folder To
//#              "shared/admin/transactions/mail_report"
//#               Changed render path to "shared/admin/transactions/mail_report"
//######################################################################
.row
  .span12
    .row
    .span11
      %div.text-margin
      /= render  "shared/admin/transactions/total_raise"
      .clear
      = render "shared/admin/transactions/left_menu"
      %div.content-sub
        /= render "shared/admin/transactions/mail_report"
        %div.date.pull-right
          / = form_tag "" do
          /   = text_field_tag "from_date"
          /   = "-"
          /   = text_field_tag "end_date"
          /   = button_tag "Filter",:class => "btn btn-success"
        .clear
        .chart
          This is chart


